body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 0 px;
}

.navbar {
    background-color: rgb(229, 238, 238);
    padding: 10px 20px;
}

.navmenu{
    font-size: 16px;
    padding: 2px;
    text-align: left;
}

li {
    list-style-position: inside;
    list-style-type: lower-latin;
    padding: 2px;
    margin: 6px;
}


a{
    color: rgb(159, 87, 19);
    padding: 10px 20px;
}

a:hover{
    color: darkorange;
}