.navbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    padding: 0px;
}


.navbar {
    background-color: rgb(229, 238, 238);
    padding: 10px 20px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
    padding: 0px;
    text-align: center;
}

.navbar li{
    margin: 0;
}

.navbar a{
    color: rgb(159, 87, 19);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover{
    color: darkorange;
    text-decoration-color: none;
}